header {
    height: 50px;
    display: grid;
    grid-template-columns: 50px 1fr;

    img {
        height: 50px;
        width: 50px;
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        a {
            font-size: 30px;
            color: black;
            text-decoration: none;
            width: 100%;
            text-align: center;
            line-height: 50px;
            transition: .2s;
        }
        a:hover {
            background-color: black;
            color: white;
        }

    }
}